### C++ ###

*.d
*.o
*.obj

/.vscode
/build

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Exe
*.exe
*.out
